flask
flask_cors
python-dotenv
streamlit
gradio
langchain
langchain-community
google-generativeai
langchain-google-genai
pypdf2
beautifulsoup4
unstructured
nltk
langchain-groq
faiss-cpu
pandas
openpyxl
python-docx
reportlab
fpdf
docx
firebase-admin
azure-storage-blob
azure-keyvault-secrets
azure-mgmt-resource
azure-ai-formrecognizer
werkzeug